## 將資料集「政府行政機關辦公日曆表」與電力資料表合併

In [1]:
import pandas as pd

In [2]:
holiday = pd.read_csv('data/calendar.csv')

In [3]:
holiday.head()

        date       name isHoliday holidayCategory   description
0   2013/1/1  中華民國開國紀念日         是       放假之紀念日及節日  全國各機關學校放假一日。
1   2013/1/5        NaN         是         星期六、星期日           NaN
2   2013/1/6        NaN         是         星期六、星期日           NaN
3  2013/1/12        NaN         是         星期六、星期日           NaN
4  2013/1/13        NaN         是         星期六、星期日           NaN

In [4]:
holiday = holiday[['date', 'isHoliday']]

In [5]:
holiday['date'] = pd.to_datetime(holiday['date'], format='%Y/%m/%d')

In [6]:
holiday = holiday[holiday['date'].between(pd.Timestamp('2017-01-01'), pd.Timestamp('2019-02-28'), inclusive=True)]

In [7]:
d = {'是': 1, '否': 0}

In [8]:
holiday['isHoliday'] = holiday['isHoliday'].apply(lambda x: d[x])

In [9]:
date_range = pd.date_range(start=holiday['date'].min(), end=holiday['date'].max())

In [10]:
holiday = holiday.set_index('date').reindex(date_range).fillna(0).rename_axis('日期').reset_index()

In [11]:
holiday.head()

          日期  isHoliday
0 2017-01-01        1.0
1 2017-01-02        1.0
2 2017-01-03        0.0
3 2017-01-04        0.0
4 2017-01-05        0.0

In [12]:
len(holiday)

789

In [13]:
elec = pd.read_csv('data/elec.csv')
elec['日期'] = pd.to_datetime(elec['日期'], format='%Y%m%d')

In [14]:
elec.head()

,日期,淨尖峰供電能力(MW),尖峰負載(MW),備轉容量(MW),備轉容量率(%),工業用電(百萬度),民生用電(百萬度),核一#1(萬瓩),核一#2(萬瓩),核二#1(萬瓩),...,明潭,碧海,立霧,龍澗,卓蘭,水里,其他小水力,風力發電,太陽能發電,林口#3
0,2017-01-01,24957.0,22886,2071.0,9.05,268.503,196.229,0,62.8,0.0,...,65.9,0.0,0.0,0.6,2.0,0.0,6.2,12.2,0.0,NaN
1,2017-01-02,26035.0,24483,1552.0,6.34,280.534,205.022,0,62.8,0.0,...,94.0,0.0,0.0,0.7,2.2,0.0,6.0,12.7,0.0,NaN
2,2017-01-03,29152.0,28131,1021.0,3.63,320.449,234.193,0,62.7,0.0,...,68.3,0.0,0.0,0.4,3.9,0.0,4.0,25.2,0.0,NaN
3,2017-01-04,29757.0,28485,1272.0,4.47,329.623,240.898,0,62.8,0.0,...,68.3,0.0,0.0,0.4,3.1,0.0,15.9,9.3,0.0,NaN
4,2017-01-05,30065.0,28336,1729.0,6.10,330.137,241.273,0,62.8,0.0,...,61.5,0.0,0.0,0.3,2.1,0.0,9.3,6.5,0.0,NaN

In [15]:
elec['isHoliday'] = holiday['isHoliday']

In [18]:
elec.to_csv('data/elec_merge.csv', index=False)